.app-container {
  .statusbar {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    user-select: none;
  }
}

.statusbar {
  .statusbar-content {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: hsl(212, 58%, 36%);
    color: white;
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 0.05em;
    padding: 0 12px;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    .left {
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-left: 10px;
      column-gap: 10px;
    }
    .right {
      height: 100%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      margin-right: 10px;
      column-gap: 10px;
    }
  }
}

.statusbar {
  .statusbar-content {
    .statusbar-item {
      line-height: 22px;
      height: 100%;
      vertical-align: top;
      padding: 0 5px 0 5px;
      span {
        cursor: default;
      }
      a:not([disabled]) {
        cursor: pointer;
        display: block;
        text-align: center;
        height: 100%;
        white-space: pre;
      }
      a:active:not([disabled]) {
        background-color: hsl(212, 100%, 60%);
      }
      &:hover {
        background-color: hsl(212, 100%, 60%);
      }
    }
  }
}

.statusbar.no-workspace {
  .statusbar-content {
    background-color: #68217a;
  }
}
