.app-container {
  .tabbar {
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    
  }
}

.tabbar {
  .tabbar-content {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: darkslateblue;
    color: white;
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 0.05em;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }
}

.tabbar {
  .tabbar-content {
    .tabbar-item {
      line-height: 22px;
      height: 100%;
      vertical-align: top;
      padding: 0 5px 0 5px;
      span {
        cursor: default;
      }
      a:not([disabled]) {
        cursor: pointer;
        display: block;
        text-align: center;
        height: 100%;
        white-space: pre;
      }
      a:active:not([disabled]) {
        background-color: hsl(212, 100%, 60%);
      }
      &:hover {
        background-color: hsl(212, 100%, 60%);
      }
    }
  }
}
