.app-container {
  .sidebar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

.app-container {
  .sidebar-content {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: hsl(0, 1%, 14%);
    color: white;
    font-size: 12px;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-items: center;
    justify-content: space-between;
    .up {
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      margin-top: 10px;
      row-gap: 10px;
    }
    .down {
      width: 100%;
      display: flex;
      flex-flow: column-reverse nowrap;
      justify-content: flex-end;
      margin-bottom: 10px;
      row-gap: 10px;
    }
  }
}

.sidebar {
  .sidebar-content {
    .sidebar-item {
      position: relative;
      text-align: center;
      width: 100%;
      a {
        display: block;
        width: 100%;
      }
      a:not([disabled]) {
        cursor: pointer;
        &:hover {
          background-color: hsl(0, 1%, 20%);
          svg {
            stroke: wheat;
          }
        }
      }
      a:active:not([disabled]) {
        cursor: pointer;
        background-color: hsl(0, 1%, 20%);
        svg {
          stroke: wheat;
        }
      }
    }
    .sidebar-item.active {
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 5%;
        height: 100%;
        display: block;
        background-color: wheat;
        content: '';
      }
    }
  }
}
